@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    padding: 10px;
}
header{
    color: orange;
    position: relative;
    height: 30vh;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-width: 400px;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #222831;
    opacity: 0.1;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    transition: 1s;
    transform-origin: center;
}
header::before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg1.jpg');
    background-size: cover;
    background-position: bottom left;
    z-index: -1;
}
    
.search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
body{
    background-color: white;
}
section{
    padding: 10px;
    width: 50%;
    min-width: 350px;
    min-height: 70vh;
    margin: auto;
}
.foods{
    width: 100%;
}
.food-slide{
    width: 100%;
    height: 30vh;
    min-height: 300px;
}
.random-foods{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.food{
    box-sizing: border-box;
    color: #e5ebed;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 5px;
    width: 49.4%;
    min-height: 200px;
    background-color: #222831;
    box-shadow: 0 2px 2px #ccc;
}
.food-1{
    position: relative;
    padding: 5px;
    height: 130px;
}

footer{
    background-color: #222831;
    width: 100%;
    height: 80px;
    min-width: 400px;
}
/* RANDOM FOOD SLIDER */
.food-slider{
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}
.slide-buttons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.slide-info{
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
p{
    font-size: 18px;
}
.slide{
    z-index: 1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
}
.img-container{
    width: 100%;
    height: 100%;
}
.img-container > img{
    position: left;
    transition: 3s;
    width: 100%;
    height: 100%;
}
.slide:nth-child(1){
    left: 0;
}
.slide-buttons{
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.radio-container{
    transition: 1s;
    position: relative;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: 20px;
    height: 20px;
}
.radio-container:nth-child(1){
    background-color: rgba(0, 0, 0, 0.9);
}
.btn{
    position: absolute;
    bottom: 5px;
    margin-top: 10px;
    transition: 0.5s;
    font-size: 22px;
    height: 40px;
    padding: 3px;
    background-color: transparent;
    color: orange;
    border: 3px solid orange;
}
.btn:hover{
    background-color: orange;
    color: white;
}
.inputs{
    position: relative;
}
#searchText{
    position: relative;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    height: 35px;
    color: white;
    font-size: 22px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid orange;
}
#searchText::after{
    content: "asdasd";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    z-index: 999;
    bottom: 0;
    border: 1px solid orange;
}
#search{
    color: white;
    position: absolute;
    bottom: 0;
    color: orange;
    height: 50px;
    border: none;
    font-weight: 700;
    border-radius: 50%;
}


a:link{
    position: relative;
    text-decoration: none;
    color: orange;
}
a:visited{
    color: #222831;
}
a::before{
    content: " ";
    position: absolute;
    transition: 0.5s;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: orange;
}
a:hover::before{
    width: 100%;
}
.foodsInfo{
    background-color: white;
}
.food-info, .ingredients, .preparation{
    font-family: Roboto;
    font-weight: 900;
    line-height: 30px;
    background-color: white;
    padding: 10px;
    color: #222831;
    margin: 5px;
    border-bottom: 1px solid #222831;
}
.ingredients, .preparation{
    font-size: 18px;
    padding: 20px;
}
.searching{
    position: relative;
    transition: 0.5s;
     
    opacity: 0.9;
    height: 0;  
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center;
    z-index: 1;
}
.info-image{
    position: relative;
    width: 100%;
    height: 400px;
    border: 1px solid orange;
}
.taste{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.loading-anim{
    width: 50px;
    height: 50px;
    background-color: orange;
    padding: 10px;
    border-radius: 50%;
    animation: rotate  2s infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.loading-anim > div{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}